<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<!-- <p>Made with Love by {{author}}</p> -->
 
 <p style="font-family:courier;"><center> Made with Love by &copy; {{author}}</center></p>

