<nav class="navbar navbar-default navbar-fixed-top sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">PPWFun</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="float: right" id="navbar-right-menu" >
        <li><a href="/profile-perusahaan">Profile</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
