{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
{% block css %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    body, html {
        height: 100%;
        line-height: 0;
        background-image: url('https://i.imgur.com/ugNmG8t.png');
        background-position: center;
        background-size: cover;
        min-height: 100%;
    }
    /* Full height image header */
    .bgimg-1 {
        margin-top: 150px;
    }
    .w3-bar .w3-button {
        padding: 50%;
    }
    .dataLowongan{

      margin-top: 50px;

      background-color: #d5f4e6;
      padding-left: 100px;
      padding-bottom: 50px;
      
    }
    #data{
    margin-right: 200px;
    margin-bottom: 10px;
    border: 10px solid white;
    padding: 10px;
    
    }
    #judul{
      margin-top: 25px;
    }
    #date{
      margin-top: 25px;
    }
    #message{
      margin-top: 25px;
    }
    #isiMessage{
      margin-top: 50px;
      margin-left: 30px;
      background-color: #fefbd8;
      font-size: 150%;

    }
    #komentar{
      margin-top: 25px;

    }
    
</style>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-black" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Welcome to our project</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
  </div>
</header>

</body>
</html>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   81hmr79d53455z
    onLoad:    onLinkedInLoadCompany
    authorize: true
</script>

{% endblock %}
<center>
    <div id="lab8" >
      {% csrf_token %}
        <script type="in/Login"></script>
    </div></center>
	<div id="profileData">
  <div id="gambar"></div>
	<div id="name"></div>
	<div id="tempat"></div>
	</div>
	<div id="logout">

	</div>

  </br>
  </br>


  <div class='dataLowongan'>
<   {% for data in dataUser%}
    {{data.id}}
    {{data.name}}
    {{data.created_at}}
    </br>
    {{data.komentar}}



  
    <br>
    <p id="test"></p>
  {% endfor %}

</br>
  
  <h1> DATA DARI FORUM LOWONGAN</h1>
  
 {% for x in forumLowongan%}
 <div id = 'data'>
    <div id ='judul'> Judul : {{x.title}} </br> </div>
    <div id ='date'>Date : {{x.date}} </br></div>
    <div id ='message'>Lowongan : </br> </div>
    <div id= 'isiMessage'> {{x.content}} </br> </div>
    </br>
   <div id ='komentar'> {{x.komentar}} </br>

    </br>

    <form  onsubmit="tambahKomentar(this.form)">
      Insert Komentar: <input id="komentar"type="text" name="fname">
     <input type="submit" value="Submit">
    </form>
    </br>
  </div>
  </div>
  {% endfor %}
  


</div>


{% endblock %}
{% block javascript %}
<script>// Setup an event listener to make an API call once auth is complete

function tambahKomentar(form){
  
}



function onLinkedInLoad() {
    IN.Event.on(IN, "auth", getProfileData);
}

// Use the API call wrapper to request the member's profile data
function getProfileData() {
    IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url",
"email-address").result(displayProfileData).error(onError);
}

// Handle the successful return from the API call
function displayProfileData(data){
  var user = data.values[0];
  var id = user.id;
  console.log(id);
  $.ajax({
      method: "POST",
      url: '{% url "login-perusahaan:add-session" %}',
      data: { name: user.firstName+" "+user.lastName, id: id, csrfmiddlewaretoken: '{{ csrf_token }}'},
      success : function () {
      },
      error : function (error) {
          alert("Account ini tidak memiliki izin")
      }
  });
  $("#gambar").append('<img src="'+user.pictureUrl+'"class="img-circle">');
  $("#name").append('<b>'+user.firstName+' '+user.lastName+'</b><br>'+user.headline );
	$("#tempat").append(user.location.name);
	$("#logout").append("<button class='btn btn-danger' onClick='logout()'>Logout</button>");
	console.log(data);
	console.log();
}

// Handle an error response from the API call
function onError(error) {
    console.log(error);
}

// Destroy the session of linkedin
function logout(){
    IN.User.logout(logoutYuk);
}

// Remove profile data from page
function logoutYuk(){
	window.location.assign("{% url 'login-perusahaan:index'%}")
  $.ajax({
      method: "GET",
      url: '{% url "login-perusahaan:remove-session" %}',

});
}
</script>
{% endblock %}
