{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script type="text/javascript" src="//platform.linkedin.com/in.js">
          api_key: 81hmr79d53455z
          authorize: true
          onLoad: onLinkedInLoad
        </script>
    </head>
    <body>
        <script src="{% static 'js/profile.js' %}"></script>
        <div id="profileData">
            <p><a href="{% url 'login-perusahaan:index' %}" onclick="logout()">Logout</a></p>
            <div id="picture"></div>
            <center><a href= {%  url 'forum-lowongan:index' %} class="head-button">Lihat Forum</a></center>
            <div class="company">
                <h3>Company Name:</h3>
                <p id="companyName"></p>
                <h3>Description:</h3>
                <p id="description"></p>
                <h3>Company Type</h3>
                <p id="companyType"></p>
                <h3>Specialties</h3>
                <p id="specialties"></p>
                <p id="location"></p>

            </div>
        </div>
    </body>
<header>
    {% block header %}
    {% include 'partials/header.html' %}
    {% endblock %}
</header>

<footer>
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}
</footer>
</html>
