/* body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 0;
    background-image: url('https://i.imgur.com/ugNmG8t.png');
    background-position: center;
    background-size: cover;
    min-height: 100%;
}
/* Full height image header */
/* .bgimg-1 {
    margin-top: 150px;
}
.w3-bar .w3-button {
    padding: 50%;
} */ */
