{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Forum Lowongan
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" />
  <style>
    .desain_footer{
      position: absolute;
    }
  </style>
{% endblock %}

{% block content %}
    <!-- Main body -->
    <div class="container">
      <div class="row">
          <div class="col-sm-7">
              <h3>Forum</h3>
              <h4 class="card-title"> Post Forum </h4>
              <div class="card">
                  <div class="card-block">

                      <!-- Form for new status -->
                      <form class="card-text" method="POST" action="{% url 'forum-lowongan:add' %}">
                          {% csrf_token %}
                          <h5 class="card-title" style="font-family: Goudy Old Style"> Title </h5>
                          <input class="form-control" name="title" id="title" title="title"/>
                          <h5 class="card-title" style="margin-top: 10px; font-family: Goudy Old Style"> Content </h5>
                          <input class="form-control" name="content" id="content" title="content"/>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary float-right" style="margin-top: 2px" id="button">Post</button>
            </form>
          </div>
      </div>
  </div>

  <!-- Print errors if any -->
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}


                        
 <div class="container forums">
    {% for i in forum_list reversed %}
        <div class="flex-item">
            <div class="forum content">
                <h5> {{ i.title }} </h5>
                <sub> {{ i.date }} </sub>
                <p> {{ i.content }} </p>
            </div>
        </div>
    {% endfor %}
</div>
                    {% if forum_list.has_other_pages %}
                      <ul class="pagination">
                        {% if forum_list.has_previous %}
                          <li><a href="?page={{ forum_list.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in forum_list.paginator.page_range %}
                          {% if forum_list.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if forum_list.has_next %}
                          <li><a href="?page={{ forum_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                    {% if auth %}
                        <div id="token" hidden="true">{{ auth.access_token }}</div>
                        <div id="cid" hidden="true">{{ auth.client_id }}</div>
                    {% endif %}
                </div>
            </div>
 
{% endblock %}

{% block javascript %}

{% endblock %}
